body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 10s linear infinite;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
  font-size: 4em; /* Passen Sie die Schriftgröße nach Bedarf an */
  margin: 0;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
